*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}
.wrapper-1{
    width: 100%;
    height: 100vh;
    background-color: #ffe9d6;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;    
}
.nav-link-1{
    margin-left: 25px;
}
.nav-link-2 {

    width: 50%;
}
.nav-link-2 ul{
    display: flex;
    justify-content: space-between;   
}
    
.nav-link-2 ul li{
    list-style: none;
}
.nav-link-2 ul li a{
    text-decoration: none;
    font-size: 22px;
    color: black;    
}
.cart{
    margin-right: 25px;
    padding: 0px 25px;
    background-color: #ff7a00;
    border-radius: 50px;
}
.hamburger{
    background-color: #ff7a00;
    display: none;

}
.hamburger span{
  background-color: rgb(49, 48, 48);
  width: 28px;
  height: 3px;
  display: block;
  margin: 10px;

}
article{
    width: 100%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1 img{
    position: relative;
    width: 100%;
    max-width: 600px;

}
.para-1 h1{
    position: relative;
    font-size: 45px;
    color: #ff7a00;   
}
.shop {
    display: flex;
    justify-content: center;
    
}
.shop a{
    position: absolute;
     bottom: 30px;
     text-decoration: none;
     background-color: #ff7a00;
     padding: 15px 75px;
     font-size: 25px;
     color: #fff;
     border-radius: 10px;
}
#about{
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
}
#about p{
    color: #fff;
    font-size: 25px;
    padding: 20px; 
    line-height: 40px;   
}
#shop{
    width: 100%;
    height: 100vh;
}
a:hover, a:active{
    background-color: rgb(226, 70, 70);
}
.header{
    text-align: center;
    margin-top: 90px;

}
.img-set-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
    
}
.set-1 img{
    position: relative;
    top: 80px;
}
.center{
    position: relative;
    bottom: 30%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.center-1{
    position: relative;
    text-align: center;
    padding-bottom: 3px;

}
.center-1 h1{
    position: relative;
    top: 5px;
}
.center-1 a{
    position: relative;
    text-decoration: none;
    background-color: #ff7a00;
    font-weight: bolder;
    top: 30px;
    color: black;
    padding: 20px 60px;
    border-radius: 10px;
    
    
}
.wrapper-3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    background-color: black;
    margin-top: 80px;

}
.wrapper-3 img{

}
.wrapper-3 h3{

    color: #fff;
}
@media screen and (max-width: 680px) {
    .nav-link-2 ul{
        position: absolute;
        top: 65px;
        left: 25px;
        width: 85%;
        padding: 15px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       background-color: rgb(97, 94, 94);
    }
    .nav-link-2 ul li a{
        color: #fff;
        margin: 20px;
        line-height: 30px;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(90%,50%);
        border: 1px solid grey;
    }
    .img-1 img{
        display: none;
    }
    .para-1{
        margin: 0 auto;
    }
    .wrapper-3{
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-content: space-between;


    }
    #about{
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    

}


   
    

    
    



